<p>recipes-page works!</p>
<div *ngIf="(recipe$ | async) as recipe">
  <!-- Show Recipe table -->
  <div *ngIf="!(edit$ | async)">
    <!-- Ingredient composition table -->
    <table>
      <tbody>
        <tr>
          <td>Name: </td>
          <td>{{recipe.name}}</td>
        </tr>
        <tr>
          <td colspan="2">Ingredients</td>
        </tr>
        <tr *ngFor="let ingr of ingredientList">
          <td>
            {{ingr.name}}
          </td>
          <td>
            {{ingr.amount}} g
          </td>
        </tr>
        <tr>
          <td><button (click)="close()">Close</button></td>
          <td><button (click)="edit()">Edit</button></td>
        </tr>
      </tbody>
    </table>

    <!-- Nutrition info -->
    <table *ngIf="getPortion(recipe) as prtn">
      <tbody>
        <tr>
          <td>Nutrition info</td>
          <td>per 100 g</td>
          <td>per portion ({{prtn.amount}} g)</td>
        </tr>
        <tr>
          <td>
            Calories
          </td>
          <td>
            {{recipe.caloriePer100gr | number: '1.1-2'}} g
          </td>
          <td>
            {{prtn.calories | number: '1.1-2'}} g
          </td>
        </tr>
        <tr>
          <td>
            Protein
          </td>
          <td>
            {{recipe.proteinPer100gr | number: '1.1-2'}} g
          </td>
          <td>
            {{prtn.protein | number: '1.1-2'}} g
          </td>
        </tr>
        <tr>
          <td>
            Carbohydrates
          </td>
          <td>
            {{recipe.carbohydratesPer100gr | number: '1.1-2'}} g
          </td>
          <td>
            {{prtn.carbohydrates | number: '1.1-2'}} g
          </td>
        </tr>
        <tr>
          <td>
            Fat
          </td>
          <td>
            {{recipe.fatPer100gr | number: '1.1-2'}} g
          </td>
          <td>
            {{prtn.fat | number: '1.1-2'}} g
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Edit Recipe table -->
  <form *ngIf="edit$ | async"
        [formGroup]="editRecipeForm"
        (ngSubmit)="updateRecipe()">
    <fieldset>
      <legend>Edit recipe</legend>
      <label for="nameControl">Recipe name</label><br>
      <input type="text"
             autocomplete="off"
             name="name"
             id="nameControl"
             formControlName="name"><br>

      <label for="nameControl">Number of portions</label><br>
      <input type="number"
             autocomplete="off"
             name="portions"
             id="portionsControl"
             min="1"
             formControlName="portions"><br>

      <fieldset>
        <legend>Ingredients</legend>
        <table>
          <thead>
            <tr>
              <td><label>Name</label></td>
              <td><label>Amount, g</label></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ingr of ingredientList">
              <td>
                {{ingr.name}}
              </td>
              <td>
                {{ingr.amount}} g
              </td>
              <td>
                <button type="button"
                        (click)="removeIngredient(ingr.name, ingr.brand)">Remove</button>
              </td>
            </tr>
            <tr>
              <td>
                <input type="search"
                       autocomplete="off"
                       id="ingredientName"
                       formControlName="ingredientName"
                       placeholder="search product...">
              </td>
              <td>
                <input type="number"
                       id="ingredientAmount"
                       formControlName="ingredientAmount"
                       min="1"
                       placeholder="g"
                       required>
              </td>
              <td>
                <button type="button"
                        [disabled]="editRecipeForm.controls.ingredientName.invalid || editRecipeForm.controls.ingredientAmount.invalid"
                        (click)="addIngredient()">Add</button>
              </td>
            </tr>
            <tr *ngFor="let product of products$ | async">
              <td colspan="3"
                  (click)="selectProduct(product)"
                  *ngIf="showProductList">
                {{product.brand ? product.name + ', ' + product.brand : product.name}}
              </td>
            </tr>
          </tbody>
        </table>
      </fieldset>

      <br>
      <button type="submit"
              [disabled]="editRecipeForm.controls.name.invalid || ingredientList.length < 1">Save</button>
      <button (click)="close()">Close</button>
    </fieldset>
  </form>
</div>